<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string></string>
	<key>nickname</key>
	<string>#4/6kidV2.@W[hz</string>
	<key>maxScore</key>
	<integer>0</integer>
	<key>date</key>
	<string></string>
	<key>recordSended</key>
	<true/>
	<key>firstGame</key>
	<true/>
</dict>
</plist>
